:root {
    --white: #fff;
    --black: #000;
    --banner-bg: #F6F5F4;
    --icon-color: #9C34DB;
}

/* Resetting default margin, padding, and box-sizing for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility classes */
.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

button {
    font-family: 'Inter', sans-serif;
}

/* main styling */
body {
    font-family: 'Inter', sans-serif;
}

html {
    font-size: 16px;
}

header {
    top: 0;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
    font-size: 15.2px;
    background-color: var(--white);
    z-index: 1;
}

.logo {
    gap: 0.4rem;
    font-weight: 700;
    font-size: 16px;
}

.logo-img {
    transform: scale(1.2);
}

.fa-bars,
.fa-angle-right {
    display: none;
}

/* left navbar styles */
.navbar-left .nav-links {
    list-style: none;
    margin-left: 1.2rem;
    position: relative;
}

.navbar-left .nav-link {
    cursor: pointer;
    gap: 0.4rem;
    border-radius: 5px;
    padding: 0.4rem 0.6rem;
}

.navbar-left .nav-link:hover {
    background-color: #0000000a;
}

.navbar-left .nav-links .nav-link-wrapper:hover+.product-container,
.navbar-left .product-container:hover,
.navbar-left .nav-links .nav-link-wrapper:hover+.download-container,
.navbar-left .download-container:hover,
.navbar-left .nav-links .nav-link-wrapper:hover+.solution-container,
.navbar-left .solution-container:hover,
.navbar-left .nav-links .nav-link-wrapper:hover+.resource-container,
.navbar-left .resource-container:hover {
    display: flex;
}

.navbar-left .nav-link .fa-solid {
    font-size: 0.6rem;
    font-weight: 700;
    margin-top: 5px;
}

/* drop down */
.navbar-left .product-container,
.navbar-left .download-container,
.navbar-left .solution-container,
.navbar-left .resource-container {
    display: none;
    position: absolute;
    top: 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1rem;
}

.navbar-left .download-container {
    left: 5.7rem;
}

.navbar-left .solution-container {
    left: 12.3rem;
}

.navbar-left .resource-container {
    left: 18.54rem;
}

.navbar-left .product-wrapper {
    border-right: 1px solid #E5E5E5;
    padding-right: 1rem;
    gap: 0.6rem;
}

.navbar-left .product-wrapper .product-content {
    justify-content: center;
    gap: 0.8rem;
}

.navbar-left .product-wrapper .product-content span,
.navbar-left .solution-team-size .solution-content span,
.navbar-left .product-guide span {
    display: block;
}

.navbar-left .product-guide {
    padding-left: 1rem;
    gap: 0.6rem;
}

.navbar-left .product-guide .product-guide-description,
.navbar-left .product-description {
    color: #00000099;
}

.navbar-left .download-container,
.navbar-left .solution-team-size,
.navbar-left .solution-team-function,
.navbar-left .solution-notion-for,
.navbar-left .resource-container {
    gap: 0.6rem;
}

.navbar-left .download-container .download-note {
    color: #00000099;
    font-size: 0.9rem;
}

.navbar-left .solution-title {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 300;
    margin-bottom: 0.6rem;
    width: 10rem;
}

.navbar-left .solution-team-size {
    width: 18rem;
    border-right: 1px solid #E5E5E5;
}

.navbar-left .solution-team-function {
    padding-left: 1rem;
    border-right: 1px solid #E5E5E5;
}

.navbar-left .solution-notion-for {
    padding-left: 1rem;
}

.navbar-left .solution-team-size .solution-content {
    gap: 1rem;
}

/* right navbar styles */

.navbar-right a {
    color: var(--black);
    text-decoration: none;
    border-radius: 5px;
    padding: 0.4rem 0.6rem;
    margin: 0 0.5rem;
}

.navbar-right .vertical-line {
    color: #E5E5E5;
}

.navbar-right .demo-btn:hover,
.navbar-right .login-btn:hover {
    background-color: #0000000a;
}

.navbar-right .free-notion-btn {
    background-color: #121212;
    color: var(--white);
    font-weight: 600;
    font-size: 0.85rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.navbar-right .free-notion-btn:hover {
    background-color: #333;
}

/* navbar ends */

/* hero starts */

#hero-section {
    width: min(90%, 1024px);
    margin: auto;
}

.hero {
    margin-top: 62px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    height: 20rem;
    position: relative;
}

.hero .hero-title {
    font-size: 3.6rem;
    font-weight: 700;
}

.hero .hero-description {
    font-size: 1.5rem;
    font-weight: 600;
}

.hero button {
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
}

.hero .get-started-btn {
    background-color: var(--black);
    color: var(--white);

    box-shadow: rgba(0, 0, 0, 0.12) 0px 0.325926px 0.733333px 0px, rgba(0, 0, 0, 0.07) 0px 1.54074px 2.86667px 0px, rgba(0, 0, 0, 0.05) 0px 4px 9px 0px;
}

.hero .signup-btn {
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.047) 0px 4px 9px 0px, rgba(0, 0, 0, 0.075) 0px 1.54074px 2.86667px 0px, rgba(0, 0, 0, 0.12) 0px 0.325926px 0.733333px 0px;
    margin-left: 0.6rem;
}

.hero .hero-img {
    position: absolute;
    right: 2rem;
    bottom: 0;
    width: 15rem;
}

.features {
    gap: 1rem;
}

.features .feature {
    background-color: var(--banner-bg);
    padding: 1rem;
    border-radius: 12px;
    border: 2px solid transparent;
    flex: 1;
    transition: 200ms;
    cursor: pointer;
}

.features .feature:hover {
    background-color: var(--white);
    border: 2px solid #F6F5F4;
    border-radius: 12px;
}

.features .feature-icon {
    color: var(--icon-color);
    background-color: #F0E0F8;
    padding: 0.6rem;
    border-radius: 6px;
}

.features .feature-title {
    display: block;
    font-weight: 600;
    margin: 0.8rem 0;
    font-size: 1.5rem;
}

.features .feature-description {
    font-size: 16px;
}

.slider-img {
    margin: 1rem 0;
    width: 100%;
    height: 638px;
}




/* ai banner */
.ai-banner {
    padding: 2rem;
    background-color: var(--banner-bg);
    position: relative;
    width: min(90%, 1024px);
    margin: auto;
    border-radius: 12px;
}

.ai-banner .ai-banner-icon {
    color: var(--icon-color);
    background-color: #F0E0F8;
    padding: 0.6rem;
    border-radius: 6px;
}

.ai-banner .ai-banner-title {
    font-weight: 600;
    font-size: 24px;
    margin-left: 0.4rem;
}

.ai-banner .ai-banner-description {
    margin: 1.2rem 0;
    width: 50%;
}

.ai-banner .ai-banner-btn {
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    background-color: var(--black);
    color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0.325926px 0.733333px 0px, rgba(0, 0, 0, 0.07) 0px 1.54074px 2.86667px 0px, rgba(0, 0, 0, 0.05) 0px 4px 9px 0px;
}

.ai-banner-img {
    position: absolute;
    right: 2rem;
    bottom: 0;
    width: 380px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 18px 0px, rgba(0, 0, 0, 0.027) 0px 2.025px 7.84688px 0px, rgba(0, 0, 0, 0.02) 0px 0.8px 2.925px 0px, rgba(0, 0, 0, 0.01) 0px 0.175px 1.04062px 0px;
}



/* qa section */

#qa-section,
#text-assist-section,
#task-automation-section,
#data-privacy-section {
    width: min(90%, 1024px);
    margin: auto;
}

.qa .qa-img {
    position: relative;
    top: 110px;
    left: 24px;
    width: 190px;
}

.qa .qa-title {
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 2.2rem;
}

.qa-banner,
.text-assist-banner,
.task-automation-banner {
    width: 100%;
    background-color: var(--banner-bg);
    border-radius: 12px;
    padding: 2rem 2rem 0 2rem;
}

.qa-banner .qa-banner-icon,
.text-assist-banner .text-assist-banner-icon,
.task-automation-banner .task-automation-banner-icon {
    color: var(--icon-color);
    font-size: 20px;
}

.qa-banner .qa-banner-title,
.text-assist-banner .text-assist-banner-title,
.task-automation-banner .task-automation-banner-title {
    font-weight: 600;
    display: block;
    margin: 0.8rem 0;
    font-size: 18px;
}

.qa-banner .qa-banner-description,
.text-assist-banner .text-assist-banner-description,
.task-automation-banner .task-automation-banner-description {
    width: 50%;
    margin-bottom: 2rem;
    font-size: 16px;
}

.qa-banner .qa-banner-video,
.text-assist-banner .text-assist-banner-video,
.task-automation-banner .task-automation-banner-video {
    width: 100%;
    border-radius: 12px 12px 0px 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.qa-use-imgs {
    margin-top: 24px;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}

.qa-use-imgs img {
    border-radius: 12px;
    width: 322px;
    background-color: var(--banner-bg);
}

.qa-testimonial,
.text-assist-testimonial {
    margin-top: 2.2rem;
}

.qa-testimonial .qa-testimonial-description,
.text-assist-testimonial .text-assist-testimonial-description {
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.qa-testimonial .qa-testimonial-img,
.text-assist-testimonial .text-assist-testimonial-img {
    width: 96px;
}

.qa-testimonial .qa-testimonial-by span,
.text-assist-testimonial .text-assist-testimonial-by span {
    display: block;
}

.qa-testimonial .flex,
.text-assist-testimonial .flex {
    justify-content: center;
    gap: 10px;
    margin-top: 12px;
}





/* text assist section */

.text-assist-header,
.task-automation-header,
.data-privacy-header {
    display: flex;
    margin-top: 160px;
}

.text-assist-header .text-assist-img,
.task-automation-header .task-automation-img,
.data-privacy-header .data-privacy-img {
    width: 336px;
    height: auto;
    margin-left: auto;
}

.text-assist-header .text-assist-title,
.task-automation-header .task-automation-title {
    font-size: 2.8rem;
    width: min(100%, 500px);
}

.text-assist-features,
.task-automation-features {
    margin-top: 24px;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}

.text-assist-features .text-assist-feature,
.task-automation-features .task-automation-feature,
.data-privacy-features .data-privacy-feature {
    width: 325px;
    padding: 24px 32px 0;
    background-color: var(--banner-bg);
    border-radius: 12px;
}

.text-assist-feature .text-assist-feature-icon,
.task-automation-feature .task-automation-feature-icon,
.data-privacy-feature .data-privacy-feature-icon {
    color: var(--icon-color);
    font-size: 20px;
}

.text-assist-feature .text-assist-feature-title,
.task-automation-feature .task-automation-feature-title,
.data-privacy-feature .data-privacy-feature-title {
    font-weight: 600;
    font-size: 18px;
    display: block;
    margin: 0.8rem 0;
}

.text-assist-feature .text-assist-feature-img,
.task-automation-feature .task-automation-feature-img {
    width: 100%;
    margin-top: 3rem;
}



/* task automation section */
.task-automation-header .task-automation-img {
    width: 221px;
    margin-bottom: -14px;
}

.task-automation-features .task-automation-feature,
.data-privacy-features .data-privacy-feature {
    padding: 24px 0 0 32px;
}



/* data privacy section */

.data-privacy-features{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(325px,1fr));
    grid-template-rows: repeat(3,1fr);
    gap: 24px;
}

.data-privacy-features .data-privacy-feature{
    padding: 24px 32px;
    width: 100%;
}

.data-privacy-header .data-privacy-img {
    width: 98px;
    height: fit-content;
    align-self: flex-end;
}

.data-privacy-header .data-privacy-title {
    font-size: 2.8rem;
    margin-bottom: 18px;
}

.data-privacy-header .data-privacy-link{
    text-decoration: none;
    color: var(--icon-color);
}

.data-privacy-header .data-privacy-header-text{
    margin-bottom: 32px;
}



@media screen and (max-width: 1080px) {

    /* utility class */
    .flex-column-media {
        flex-direction: column;
    }

    .w-100-media {
        width: 100%;
    }

    .d-none-media {
        display: none;
    }

    /* main styling */
    header {
        padding: 1rem;
    }

    .fa-angle-right {
        display: block;
    }

    .mobile-navbar {
        border-bottom: 1px solid #E5E5E5;
        padding-bottom: 0.6rem;
    }

    .navbar-left,
    .navbar-right {
        font-weight: 700;
    }

    .navbar-left .nav-link-wrapper {
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        border-bottom: 1px solid #E5E5E5;
    }

    .navbar-left .nav-links {
        align-items: start;
        margin-left: 0;
    }

    .mobile-navbar {
        display: flex;
        justify-content: space-between;
    }

    .fa-bars {
        display: block;
        align-self: center;
        margin-top: 4px;
        font-size: 18px;
        cursor: pointer;
    }

    .navbar-right {
        align-items: start;
        gap: 1rem;
    }

    .navbar-right a {
        margin: 0;
    }

    .navbar-right .demo-btn {
        padding: 1rem 0;
        text-decoration: none;
        color: var(--black);
        border-bottom: 1px solid #E5E5E5;
        padding: 1.4rem 0.6rem;
        margin-bottom: 1rem;
    }

    .navbar-right .free-notion-btn,
    .navbar-right .login-btn {
        background-color: var(--black);
        padding: 0.4rem 0.6rem;
        color: var(--white);
        text-align: center;
        text-decoration: none;
        font-weight: 600;
        border-radius: 5px;
        font-size: 16px;
    }

    .navbar-right .login-btn {
        background-color: transparent;
        order: 2;
        color: var(--black);
        border: 1px solid #EBEAEA;
    }


    /* dropdown */
    .navbar-left .product-container,
    .navbar-left .download-container,
    .navbar-left .solution-container,
    .navbar-left .resource-container {
        position: relative;
        top: 0;
        left: 0;
        box-shadow: none;
        padding: 1rem;
        font-weight: 400;
    }

    .navbar-left .product-guide {
        padding-left: 0;
        margin-top: 1rem;
    }

    .navbar-left .product-guide .product-guide-description {
        display: none;
    }

    .navbar-left .product-wrapper {
        align-items: start;
        border-right: none;
    }

    .navbar-left .product-wrapper .product-content .product-description,
    .navbar-left .solution-container .solution-content .solution-description {
        display: none;
    }

    .navbar-left .solution-team-size,
    .navbar-left .solution-team-function {
        border: none;
        margin-bottom: 1.6rem;
        gap: 0.6rem;
    }

    .navbar-left .solution-team-function,
    .navbar-left .solution-notion-for {
        padding: 0;
    }

    .navbar-left .solution-title {
        margin-bottom: 0;
        display: inline-block;
    }


    /* QA section */

    .qa-header {
        display: flex;
        flex-direction: column;
        margin-top: 180px;
    }

    .qa-header .qa-img {
        position: static;
        order: 2;
        margin-bottom: -14px;
    }



}

@media screen and (max-width: 840px) {
    html {
        font-size: 12px;
    }

    .hero {
        text-align: center;
        height: auto;
        padding-top: 56px;
    }

    .hero .hero-img {
        margin: auto;
        position: relative;
        right: 0;
    }

    .slider-img {
        height: auto;
    }

    .ai-banner {
        text-align: center;
        font-size: 14px;
        padding-bottom: 0;
    }

    .ai-banner .ai-banner-title {
        display: inline-block;
    }

    .ai-banner .ai-banner-description {
        margin: 1rem auto;
    }

    .ai-banner .ai-banner-btn {
        display: block;
        margin: auto;
        margin-bottom: 2rem;
    }

    .ai-banner .ai-banner-img {
        position: relative;
        right: 0;
        margin: auto;
    }


    /* qa section */


    .qa .qa-img {
        width: 130px;
        margin-bottom: -10px;
    }

    .qa-testimonial .qa-testimonial-description,
    .text-assist-testimonial .text-assist-testimonial-description {
        width: 100%;
        font-size: 24px;
        padding: 0 12px;
    }

    .qa-use-imgs {
        margin-top: 16px;
        gap: 16px;
    }

    .qa-use-imgs img {
        width: 100%;
    }

    .qa-banner .qa-banner-description,
    .text-assist-banner .text-assist-banner-description,
    .task-automation-banner .task-automation-banner-description {
        width: 100%;
    }


    /* text assist section */

    .text-assist-header,
    .task-automation-header,
    .data-privacy-header {
        flex-direction: column;
    }

    .text-assist-header .text-assist-img {
        width: 234px;
    }


    /* task automation section */


    /* task automation section */
    .task-automation-header .task-automation-img {
        width: 154px;
        margin-bottom: -8px;
    }



}

@media screen and (max-width: 600px) {

    /* for horizonatlly scrolling of feature section */
    .scrollable {
        overflow: scroll;
    }

    .features {
        width: 300%;
    }

    .ai-banner {
        text-align: left;
        padding: 2rem 10% 0 10%;
    }

    .ai-banner .ai-banner-description {
        margin: 1rem 0;
        width: 100%;
    }

    .ai-banner .ai-banner-btn {
        margin: 0;
        margin-bottom: 2rem;
    }

    .ai-banner .ai-banner-img {
        width: 100%;
    }


    /* qa-section */

    .qa-testimonial .flex,
    .text-assist-testimonial .flex {
        flex-direction: column;
        align-items: center;
        gap: 12px;
        text-align: center;
    }


    /* text assist section */

    .text-assist-header .text-assist-img {
        width: 174px;
    }

    .text-assist-features .text-assist-feature,
    .task-automation-features .task-automation-feature,
    .data-privacy-features .data-privacy-feature {
        width: 100%;
    }


    /* data privacy section */

    .data-privacy-features{
        grid-template-columns: 100%;
    }

}