:root {
    --white: #fff;
    --black: #000;
}

/* Resetting default margin, padding, and box-sizing for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility classes */
.flex {
    display: flex;
}

/* main styling */
body {
    font-family: 'Inter', sans-serif;
}

header{
    position: fixed;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
    font-size: 0.95rem;
}

.logo {
    align-items: center;
    gap: 0.4rem;
    font-weight: 700;
    font-size: 1.05rem;
}

.logo-img {
    transform: scale(1.2);
}

.fa-bars,
.fa-angle-right {
    display: none;
}

/* left navbar styles */
.navbar-left .nav-links {
    list-style: none;
    align-items: center;
    margin-left: 1.2rem;
    position: relative;
}

.navbar-left .nav-link {
    align-items: center;
    cursor: pointer;
    gap: 0.4rem;
    border-radius: 5px;
    padding: 0.4rem 0.6rem;
}

.navbar-left .nav-link:hover {
    background-color: #0000000a;
}

.navbar-left .nav-links .nav-link-wrapper:hover+.product-container,
.navbar-left .product-container:hover,
.navbar-left .nav-links .nav-link-wrapper:hover+.download-container,
.navbar-left .download-container:hover,
.navbar-left .nav-links .nav-link-wrapper:hover+.solution-container,
.navbar-left .solution-container:hover,
.navbar-left .nav-links .nav-link-wrapper:hover+.resource-container,
.navbar-left .resource-container:hover {
    display: flex;
}

.navbar-left .nav-link .fa-solid {
    font-size: 0.6rem;
    font-weight: 700;
    margin-top: 5px;
}

/* drop down */
.navbar-left .product-container,
.navbar-left .download-container,
.navbar-left .solution-container,
.navbar-left .resource-container {
    display: none;
    position: absolute;
    top: 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1rem;
}

.navbar-left .download-container {
    left: 5.7rem;
}

.navbar-left .solution-container {
    left: 12.3rem;
}

.navbar-left .resource-container {
    left: 18.54rem;
}

.navbar-left .product-wrapper {
    border-right: 1px solid #E5E5E5;
    padding-right: 1rem;
    align-items: center;
    flex-direction: column;
    gap: 0.6rem;
}

.navbar-left .product-wrapper .product-content {
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.navbar-left .product-wrapper .product-content span,
.navbar-left .solution-team-size .solution-content span,
.navbar-left .product-guide span {
    display: block;
}

.navbar-left .product-guide {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.navbar-left .product-guide .product-guide-description,
.navbar-left .product-description {
    color: #00000099;
}

.navbar-left .download-container,
.navbar-left .solution-team-size,
.navbar-left .solution-team-function,
.navbar-left .solution-notion-for,
.navbar-left .resource-container {
    flex-direction: column;
    gap: 0.6rem;
}

.navbar-left .download-container .download-note {
    color: #00000099;
    font-size: 0.9rem;
}

.navbar-left .solution-title {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 300;
    margin-bottom: 0.6rem;
    width: 10rem;
}

.navbar-left .solution-team-size {
    width: 18rem;
    border-right: 1px solid #E5E5E5;
}

.navbar-left .solution-team-function {
    padding-left: 1rem;
    border-right: 1px solid #E5E5E5;
}

.navbar-left .solution-notion-for {
    padding-left: 1rem;
}

.navbar-left .solution-team-size .solution-content {
    align-items: center;
    gap: 1rem;
}

/* right navbar styles */

.navbar-right {
    align-items: center;
}

.navbar-right a {
    color: var(--black);
    text-decoration: none;
    border-radius: 5px;
    padding: 0.4rem 0.6rem;
    margin: 0 0.5rem;
}

.navbar-right .vertical-line {
    color: #E5E5E5;
}

.navbar-right .demo-btn:hover,
.navbar-right .login-btn:hover {
    background-color: #0000000a;
}

.navbar-right .free-notion-btn {
    background-color: #121212;
    color: var(--white);
    font-weight: 600;
    font-size: 0.85rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.navbar-right .free-notion-btn:hover {
    background-color: #333;
}


@media screen and (max-width: 1080px) {
    header{
        flex-direction: column;
        padding: 1rem 0.6rem;
    }

    .wrapper {
        flex-direction: column;
    }

    .fa-angle-right {
        display: block;
    }

    .fa-angle-down {
        display: none;
    }

    .mobile-navbar {
        border-bottom: 1px solid #E5E5E5;
        padding-bottom: 0.6rem;
    }

    .navbar-left,
    .navbar-right {
        width: 100%;
        font-weight: 700;
    }

    .navbar-left .nav-link-wrapper {
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 1rem 0;
        border-bottom: 1px solid #E5E5E5;
    }

    .navbar-left .nav-links {
        flex-direction: column;
        align-items: start;
        width: 100%;
        margin-left: 0;
    }

    .mobile-navbar {
        display: flex;
        justify-content: space-between;
    }

    .fa-bars {
        display: block;
        align-self: center;
        margin-top: 4px;
    }

    .navbar-right {
        flex-direction: column;
        align-items: start;
        gap: 1rem;
    }

    .navbar-right a {
        margin: 0;
        width: 100%;
    }

    .navbar-right .vertical-line {
        display: none;
    }

    .navbar-right .demo-btn {
        padding: 1rem 0;
        text-decoration: none;
        color: var(--black);
        border-bottom: 1px solid #E5E5E5;
        padding: 1.4rem 0.6rem;
        margin-bottom: 1rem;
    }

    .navbar-right .free-notion-btn,
    .navbar-right .login-btn {
        background-color: var(--black);
        padding: 0.4rem 0.6rem;
        color: var(--white);
        text-align: center;
        text-decoration: none;
        font-weight: 600;
        border-radius: 5px;
        font-size: 1rem;
    }

    .navbar-right .login-btn {
        background-color: transparent;
        order: 2;
        color: var(--black);
        border: 1px solid #EBEAEA;
    }


    /* dropdown */
    .navbar-left .product-container,
    .navbar-left .download-container,
    .navbar-left .solution-container,
    .navbar-left .resource-container {
        display: none;
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        box-shadow: none;
        padding: 1rem;
        font-weight: 400;
    }

    .navbar-left .product-container,
    .navbar-left .solution-container{
        flex-direction: column;
    }

    .navbar-left .product-guide{
        padding-left: 0;
        margin-top: 1rem;
    }

    .navbar-left .product-guide .product-guide-description{
        display: none;
    }

    .navbar-left .product-wrapper{
        align-items: start;
    }

    .navbar-left .product-wrapper .product-content .product-description,
    .navbar-left .solution-container .solution-content .solution-description,
    .navbar-left .solution-container .solution-content .solution-icon,
    .navbar-left .download-container br{
        display: none;
    }

    .navbar-left .solution-team-size,
    .navbar-left .solution-team-function{
        border: none;
        margin-bottom: 1.6rem;
        gap: 0.6rem;
    }

    .navbar-left .solution-team-function,
    .navbar-left .solution-notion-for{
        padding: 0;
    }

    .navbar-left .solution-title{
        margin-bottom: 0;
        display: inline-block;
    }

}